.title {
    font-size: 3rem;
    margin: 1rem 1rem 2rem 1rem;
    text-align: center;
    color: #B0003A;
}

.year-label {
    font-size: 2rem;
    font-weight: bold;
    color: #00B0FF;
}

.card-margin {
    margin-bottom: 2rem;
}

.description-label {
    font-size: 1.3rem;
    margin-bottom: 1rem !important;
}

.list-text {
    font-size: 1.1rem;
}

.season-name {
    font-size: 1.3rem;
}
