@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


:root {
    --foreground-color: #1D1F20;
    --background-color: #FFFFFF;

    --disabled-color: #757575;
    --disabled-color-dark: #424242;
    --disabled-color-translucid: rgba(117, 117, 117, 0.5);

    --accent-color: #8E24AA;
    --accent-color-dark: #6A1B9A;
    --accent-color-translucid: rgba(156, 39, 176, 0.5);

    --seasonal-stats-accent: #00897B;
    --seasonal-stats-accent-translucid: rgba(0, 137, 123, 0.5);
    --mailbox-accent: #D81B60;
    --mailbox-accent-translucid: rgba(216, 27, 96, 0.5);
}

body {
    color: var(--foreground-color) !important;
    background-color: var(--background-color) !important;
    font-family: "Noto Sans", sans-serif !important;
    font-size: 1.5rem !important;
    scroll-behavior: smooth !important;
}

::selection {
    background: var(--accent-color-translucid) !important;
}


.top-container {
    padding: 0.7rem 0 0.7rem 0;
    margin-bottom: 1.5rem;
}

.top-logo {
    height: 3rem;
}

.top-title {
    font-size: 1.6rem;
    margin-bottom: 0;
}

.top-title-superscript {
    font-size: 1.1rem;
    color: var(--accent-color);
}

.no-right-padding {
    padding-right: 0 !important;
}

.top-image {
    width: 90%;
    max-width: 1920px;
    border-radius: 1rem;
}

.justify-index-top-text {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-mailbox-top-text {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.column-right-margin {
    margin-right: 0;
}

.justify-index-top-image {
    -ms-flex-pack: center !important;
    justify-content: center !important;

    display: -ms-flexbox !important;
    display: flex !important;
}

.justify-mailbox-right-text {
    -ms-flex-pack: center !important;
    justify-content: center !important;

    display: -ms-flexbox !important;
    display: flex !important;
}

.justify-mailbox-left-text {
    -ms-flex-pack: center !important;
    justify-content: center !important;

    display: -ms-flexbox !important;
    display: flex !important;
}

.justify-mailbox-top-image {
    -ms-flex-pack: center !important;
    justify-content: center !important;

    display: -ms-flexbox !important;
    display: flex !important;
}

.smaller-row-margin-bottom {
    margin-bottom: 3rem;
}

.optional-margin-bottom {
    margin-bottom: 3rem;
}

.optional-mailbox-margin-bottom {
    margin-bottom: 5rem;
}

.flex-on-index-small {
    display: -ms-flexbox !important;
    display: flex !important;
}

.right-float {
    float: none;
}

@media only screen and (min-width: 768px) {
    .justify-index-top-text {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
    }

    .justify-index-top-text .column-right-margin {
        margin-right: 4rem;
    }

    .justify-index-top-image {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;

        display: block !important;
    }

    .flex-on-index-small {
        display: block !important;
    }
}

@media only screen and (min-width: 992px) {
    .optional-margin-bottom {
        margin-bottom: 0;
    }

    .col-lg-6 .column-right-margin {
        margin-right: 4rem;
    }

    .right-float {
        float: right;
    }

    .justify-mailbox-right-text {
        -ms-flex-pack: start !important;
        justify-content: start !important;
    }

    .justify-mailbox-left-text {
        -ms-flex-pack: end !important;
        justify-content: end !important;
    }

    .search-image {
        width: 70% !important;
    }
}

@media only screen and (max-width: 991px) {
    .flex-center-on-lg-small {
        -ms-flex-pack: center !important;
        justify-content: center !important;

        display: flex !important;
    }

    .justify-mailbox-right-image {
        -ms-flex-pack: center !important;
        justify-content: center !important;

        display: flex !important;
    }

    .themes-image {
        width: 70% !important;
    }

    .bbcode-image {
        width: 70% !important;
    }
}

@media only screen and (min-width: 1200px) {
    .justify-mailbox-top-text {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
    }

    .optional-mailbox-margin-bottom {
        margin-bottom: 0;
    }

    .justify-mailbox-top-image {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;

        display: block !important;
    }

    .top-image {
        width: 60rem;
    }
}

.square-image {
    width: 15rem;
    max-width: 1024px;
}

p {
    margin-top: 1rem;
}

.accent-color {
    color: var(--accent-color);
}

.seasonal-color {
    color: var(--seasonal-stats-accent) !important;
}

.mailbox-color {
    color: var(--mailbox-accent) !important;
}

.row-top-margin {
    margin-top: 5rem;
}

.no-underline {
    text-decoration: none !important;
}

.no-underline:focus {
    text-decoration: none !important;
    box-shadow: none !important;
}

.no-underline:hover {
    text-decoration: none !important;
}

.no-underline:active {
    text-decoration: none !important;
}

.regular-foreground-color {
    color: var(--foreground-color) !important;
}

.secondary-index-text {
    color: var(--disabled-color) !important;
    font-size: 75% !important;
}


.login-button {
    color: var(--background-color) !important;
    background-color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
    font-size: 1.2rem !important;
    margin-bottom: 1.5rem;
}

.login-button:focus {
    color: var(--background-color) !important;
    background-color: var(--accent-color-dark) !important;
    border-color: var(--accent-color-dark) !important;
    box-shadow: 0 0 0 .2rem var(--accent-color-translucid) !important;
}

.login-button:hover {
    color: var(--background-color) !important;
    background-color: var(--accent-color-dark) !important;
    border-color: var(--accent-color-dark) !important;
}

.login-button:active {
    color: var(--background-color) !important;
    background-color: var(--accent-color-dark) !important;
    border-color: var(--accent-color-dark) !important;
}

.MAL-mini-image {
    height: 1.2rem;
    margin-left: 0.1rem;
}

.disabled-button {
    color: var(--background-color) !important;
    background-color: var(--disabled-color) !important;
    border-color: var(--disabled-color) !important;
    font-size: 1.2rem !important;
    margin-bottom: 1.5rem;
    cursor: no-drop !important;
}

.disabled-button:focus {
    color: var(--background-color) !important;
    background-color: var(--disabled-color-dark) !important;
    border-color: var(--disabled-color-dark) !important;
    box-shadow: 0 0 0 .2rem var(--disabled-color-translucid) !important;
}

.disabled-button:hover {
    color: var(--background-color) !important;
    background-color: var(--disabled-color-dark) !important;
    border-color: var(--disabled-color-dark) !important;
}

.disabled-button:active {
    color: var(--background-color) !important;
    background-color: var(--disabled-color-dark) !important;
    border-color: var(--disabled-color-dark) !important;
}

.arrow-separator {
    margin: 5rem 0 5rem 0;
    font-size: 10rem !important;
}

.smaller-arrow-separator {
    margin: 1rem 0 2rem 0;
    font-size: 9rem !important;
}

.info-column {
    width: 80% !important;
}

.row-margin-bottom {
    margin-bottom: 8rem;
}

.h2-font-size {
    font-size: 2rem !important;
}

.search-image {
    width: 80%;
    max-width: 866px;
}

.themes-image {
    width: 40rem;
    max-width: 1920px;
    border-radius: 1rem;
}

.bbcode-image {
    width: 45rem;
    max-width: 1470px;
    border-radius: 1rem;
}

li {
    margin-top: 0.8rem;
}

a {
    color: var(--accent-color) !important;
    text-decoration-color: var(--accent-color) !important;
    text-decoration-line: underline !important;
    text-decoration-style: dotted !important;
}

a:hover {
    color: var(--accent-color-dark) !important;
    text-decoration-color: var(--accent-color-dark) !important;
    text-decoration-line: underline !important;
    text-decoration-style: solid !important;
}

.text-separator {
    margin: 5rem 0 5rem 0;
    font-size: 3.5rem !important;
}

.smaller-text {
    font-size: 1.3rem;
}

.terms-text {
    font-size: 1rem;
}

.terms-text h3 {
    font-weight: 700;
}

.terms-text h4 {
    font-weight: 700;
}

.terms-text h5 {
    font-weight: 700;
}

.central-column {
    width: 90% !important;
    max-width: 60rem;
}

.index-card {
    padding: 1rem;
    border-radius: 1rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.seasonal-card:hover {
    box-shadow: 0 0 0 .2rem var(--seasonal-stats-accent-translucid);
}

.seasonal-card:active {
    box-shadow: 0 0 0 .2rem var(--seasonal-stats-accent-translucid);
}

.seasonal-card ::selection {
    background: var(--seasonal-stats-accent-translucid) !important;
}


.mailbox-card:hover {
    box-shadow: 0 0 0 .2rem var(--mailbox-accent-translucid);
}

.mailbox-card:active {
    box-shadow: 0 0 0 .2rem var(--mailbox-accent-translucid);
}

.mailbox-card ::selection {
    background: var(--mailbox-accent-translucid) !important;
}


.contact-card:hover {
    box-shadow: 0 0 0 .2rem var(--accent-color-translucid);
}

.contact-card:active {
    box-shadow: 0 0 0 .2rem var(--accent-color-translucid);
}

.contact-card ::selection {
    background: var(--accent-color-translucid) !important;
}

footer {
    margin: 1rem 0 1rem 0 !important;
    font-size: 1.2rem;
}
