@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&effect=anaglyph|fire-animation");

body {
    font-family: "Noto Sans", "Noto Sans JP", sans-serif !important;
    background-color: #E6E6E6 !important;
    scroll-behavior: smooth !important;
}

::selection {
    background: rgba(255, 96, 144, 0.6) !important;
}

::-moz-selection {
    background: rgba(255, 96, 144, 0.6) !important;
}

a {
    color: #E91E63 !important;
    text-decoration-color: #FF6090 !important;
    text-decoration-line: underline !important;
    text-decoration-style: dotted !important;
}

a:hover {
    color: #B0003A !important;
    text-decoration-color: #E91E63 !important;
    text-decoration-line: underline !important;
    text-decoration-style: solid !important;
}

.figure-center {
    text-align: center;
}

.logo {
    width: 15rem;
    cursor: help;
}

.logo-caption {
    font-size: 3rem;
    text-align: center;
}

.bigger-title {
    font-size: 2.3rem;
}

.bigger-text {
    font-size: 1.2rem;
}

.sad-emoji {
    font-size: 5rem;
    color: #D50000;
    margin-bottom: 1.5rem;
}

.error-title {
    font-size: 3rem;
    color: #D50000;
    margin-bottom: 3rem;
}

.row-margin {
    margin-bottom: 2rem;
}
