@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Noto+Sans+HK:wght@400;700&family=Noto+Sans+JP:wght@400;700&family=Noto+Sans+KR:wght@400;700&family=Noto+Sans+SC:wght@400;700&family=Noto+Sans+TC:wght@400;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


.dark {
    --foreground-color: #E8EAED;

    --background-color: #202124;
    --background-color-elevated: #28292C;
    --background-color-light: rgba(241, 243, 244, 0.24);

    --accent-color: #CE93D8;
    --accent-color-translucid: rgba(206, 147, 216, 0.4);

    --error-background-color: #EF9A9A;
    --error-background-color-translucid: rgba(239, 154, 154, 0.85);
    --error-border-color: #EF9A9A;
}


.light {
    --foreground-color: #645032;

    --background-color: #ECE1CA;
    --background-color-elevated: #F4EBD7;
    --background-color-light: rgba(249, 245, 237, 0.24);

    --accent-color: #3F51B5;
    --accent-color-translucid: rgba(63, 81, 181, 0.4);

    --error-background-color: #F44336;
    --error-background-color-translucid: rgba(244, 67, 54, 0.85);
    --error-border-color: #F44336;
}


::selection {
    background: var(--accent-color-translucid) !important;
}

::-moz-selection {
    background: var(--accent-color-translucid) !important;
}


::placeholder {
    color: var(--foreground-color) !important;
}


.dark .light {
    display: none !important;
}

.light .dark {
    display: none !important;
}


body {
    color: var(--foreground-color) !important;
    background-color: var(--background-color) !important;

    font-family: "Noto Sans", "Noto Sans JP", "Noto Sans HK", "Noto Sans KR", "Noto Sans TC", "Noto Sans SC", sans-serif !important;
    scroll-behavior: smooth !important;
}


a {
    color: var(--accent-color) !important;
    text-decoration-color: var(--foreground-color) !important;
    text-decoration-line: underline !important;
    text-decoration-style: dotted !important;
}

a:hover {
    color: var(--accent-color) !important;
    text-decoration-color: var(--foreground-color) !important;
    text-decoration-line: underline !important;
    text-decoration-style: solid !important;
}

@media only screen and (min-width: 1069px) {
    .small-screen-alert {
        display: none;
    }
}

.card > .btn-link {
    color: var(--accent-color) !important;
}


.no-right-padding {
    padding-right: 0 !important;
}


.right-text-align {
    text-align: right !important;
}


.form-control {
    color: var(--foreground-color) !important;
    background-color: var(--background-color-light) !important;
    border: 1px solid var(--background-color-light) !important;
    border-radius: 0.20rem !important;
}

.form-control:focus {
    box-shadow: 0 0 0 .2rem var(--accent-color) !important;
}


/* Header */
.top-container {
    padding: 0.7rem 0 0.7rem 0;
    margin-bottom: 1.5rem;
    box-shadow: inset 0 -1px 0 0 #5F6368;
}

.top-logo {
    height: 3rem;
}

.top-title {
    font-size: 1.6rem;
    margin-bottom: 0;
}

.top-title-superscript {
    font-size: 1.1rem;
    color: var(--accent-color);
}

.top-dropdown-button {
    background-color: var(--background-color-elevated) !important;
    border-color: var(--background-color-elevated) !important;
    color: var(--foreground-color) !important;
}

.top-dropdown-button:focus {
    box-shadow: none !important;
}

.dropdown-menu {
    background-color: var(--background-color-elevated) !important;
    color: var(--foreground-color) !important;
    border: none !important;
}

.dropdown-item {
    color: var(--foreground-color) !important;
}

.dropdown-item:focus {
    color: var(--foreground-color) !important;
    background-color: var(--background-color-light) !important;
    box-shadow: none !important;
}

.dropdown-item:hover {
    color: var(--foreground-color) !important;
    background-color: var(--background-color-light) !important;
}

.dropdown-item:active {
    color: var(--foreground-color) !important;
    background-color: var(--accent-color) !important;
}

.alert-error {
    background-color: var(--error-background-color) !important;
    color: #000000 !important;
    border-color: var(--error-border-color) !important;
}

.kaomoji {
    color: #FFFFFF;
}

/* Mail accordion */
.mailbox-container {
    width: 95% !important;
    max-width: 85rem !important;
}

.mailbox-spinner {
    width: 3rem !important;
    height: 3rem !important;
    margin-top: 1.5rem;
    color: var(--accent-color) !important;
}

.message-spinner {
    width: 3rem !important;
    height: 3rem !important;
    margin: 0.5rem;
    color: var(--accent-color) !important;
}

.card {
    background-color: var(--background-color-elevated) !important;
    border: 1px solid var(--background-color-light) !important;
}

.card-unread {
    background-color: var(--background-color-elevated) !important;
    border: 2px solid var(--accent-color) !important;
}

.card-header {
    background-color: var(--background-color) !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.card-button {
    color: var(--accent-color) !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.card-button:hover {
    color: var(--accent-color) !important;
    text-decoration-style: dotted !important;
}

.card-button:focus {
    color: var(--accent-color) !important;
    text-decoration-style: dotted !important;
    box-shadow: none !important;
}

.subject-line {
    font-weight: bold !important;
}

.card-unread .subject-line {
    text-decoration: underline !important;
    text-decoration-style: solid !important;
}

.replied-icon {
    color: var(--foreground-color);
    font-size: 1rem !important;
    cursor: alias !important;
}

.invisible {
    visibility: hidden !important;
}

.sender-link {
    text-decoration-line: none !important;
}

.sender-link:hover {
    color: var(--accent-color) !important;
    text-decoration-color: var(--accent-color) !important;
    text-decoration-line: underline !important;
    text-decoration-style: solid !important;
}

.opening-line {
    color: var(--foreground-color) !important;
    font-weight: normal !important;
}

.card-checkbox {
    margin-left: 0 !important;
}

/* Message */

.mal-message {
}

.mal-message input {
    white-space: pre;
    text-align: center;
}

pre {
    color: var(--foreground-color) !important;
    font-family: 'Inconsolata', monospace !important;
    font-size: 100% !important;
    background-color: var(--background-color) !important;
    padding: 0.5rem !important;
    margin: 0.4rem !important;
}

.quotetext {
    color: var(--foreground-color) !important;
    background-color: var(--background-color) !important;
    padding: 0.5rem !important;
    margin: 0.4rem !important;
}

.img-a-l {
    float: left;
    padding-right: 8px;
    padding-top: 4px;
}

.img-a-r {
    float: right;
    padding-left: 8px;
    padding-top: 4px;
}

.load-button {
    color: var(--background-color) !important;
    background-color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
    margin: 1.5rem;
}

.load-button:focus {
    color: var(--background-color) !important;
    background-color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
    box-shadow: 0 0 0 .2rem var(--accent-color-translucid) !important;
}

.load-button:hover {
    color: var(--background-color) !important;
    background-color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
}

.load-button:active {
    color: var(--background-color) !important;
    background-color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
}

.load-button:disabled {
    color: var(--foreground-color) !important;
    background-color: var(--background-color-light) !important;
    border-color: var(--background-color-light) !important;
}


.message-button {
    color: var(--foreground-color) !important;
    background-color: var(--background-color) !important;
    border-color: var(--background-color) !important;
    margin-bottom: 1.5rem;
}

.message-button:focus {
    color: var(--foreground-color) !important;
    background-color: var(--background-color) !important;
    border-color: var(--background-color) !important;
    box-shadow: 0 0 0 .2rem var(--background-color-light) !important;
}

.message-button:hover {
    color: var(--foreground-color) !important;
    background-color: var(--background-color) !important;
    border-color: var(--background-color) !important;
}

.message-button:active {
    color: var(--foreground-color) !important;
    background-color: var(--background-color) !important;
    border-color: var(--background-color) !important;
}

.MAL-mini-image {
    height: 1rem;
    margin-left: 0.2rem;
}

.open-in-new-tab-icon {
    color: var(--foreground-color);
    font-size: 0.7rem !important;
}

.no-underline {
    text-decoration: none !important;
}

.no-underline:focus {
    text-decoration: none !important;
    box-shadow: none !important;
}

.no-underline:hover {
    text-decoration: none !important;
}

.no-underline:active {
    text-decoration: none !important;
}


.loaded-messages-label {
    margin-top: 1.5rem;
    margin-bottom: 0;
}


/* Error toast */
.toast {
    font-size: 1rem !important;
    background-color: var(--error-background-color-translucid) !important;
    border: 1px solid var(--error-background-color-translucid) !important;
    color: #000000 !important;
    max-width: 30rem !important;
    min-width: 20rem !important;
    margin: 2rem !important;
    position: absolute;
    top: 3rem;
    right: 0;
}

.toast-header {
    background-color: var(--error-background-color) !important;
    color: #000000 !important;
}

.error-icon {
    margin-right: 0.3rem;
}

.toast-body {
    word-wrap: break-word;
}

.toast-body a {
    color: #000000 !important;
}

.toast-body a:hover {
    color: #000000 !important;
}

.toast-body a:active {
    color: #000000 !important;
}

.toast-body a:focus {
    color: #000000 !important;
}

/* Search bar info */
.modal-content {
    background-color: var(--background-color-elevated) !important;
    border: none !important;
}

.modal-content code {
    color: var(--foreground-color) !important;
    font-family: 'Inconsolata', monospace !important;
    font-size: 100% !important;
    background-color: var(--background-color) !important;
    padding: 0.2rem !important;
    margin: 0.1rem !important;
}

.modal-content li {
    margin-top: 1rem;
}

.modal-header {
    border-bottom: 1px solid var(--background-color) !important;
}

.modal-width {
    max-width: 50rem !important;
}

.example-list {
    list-style-type: circle;
}


.close {
    color: 1px solid var(--foreground-color) !important;
    text-shadow: 0 1px 0 var(--background-color-light) !important;
}

.modal-footer {
    border-top: 1px solid var(--background-color) !important;
}

.info-button {
    color: var(--background-color) !important;
    background-color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
}

.info-button:focus {
    color: var(--background-color) !important;
    background-color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
    box-shadow: 0 0 0 .2rem var(--accent-color-translucid) !important;
}

.info-button:hover {
    color: var(--background-color) !important;
    background-color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
}

.info-button:active {
    color: var(--background-color) !important;
    background-color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
}

.info-button:disabled {
    color: var(--foreground-color) !important;
    background-color: var(--background-color-light) !important;
    border-color: var(--background-color-light) !important;
}

.search-box-info {
    color: var(--foreground-color) !important;
    padding-left: 0 !important;
    border: none !important;
}

.search-box-info:hover {
    color: var(--foreground-color) !important;
    border: none !important;
}

.search-box-info:active {
    color: var(--foreground-color) !important;
    border: none !important;
}

.search-box-info:focus {
    color: var(--foreground-color) !important;
    box-shadow: none !important;
}


footer {
    margin: 2rem 0 1rem 0 !important;
    font-size: 0.9rem;
}
