/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK|Noto+Sans+JP|Noto+Sans+KR|Noto+Sans+SC|Noto+Sans+TC|Noto+Sans:400,700&display=swap&subset=chinese-hongkong,chinese-simplified,chinese-traditional,cyrillic,cyrillic-ext,devanagari,greek,greek-ext,japanese,korean,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    font-family: "Noto Sans", "Noto Sans JP", "Noto Sans HK", "Noto Sans KR", "Noto Sans TC", "Noto Sans SC", sans-serif !important;
    background-color: #E6E6E6 !important;
    scroll-behavior: smooth !important;
}

/* Theme colors */
.primary {
    color: #E91E63;
}

.primary-dark {
    color: #B0003A;
}

.primary-light {
    color: #FF6090;
}

.bgc-primary {
    background-color: #E91E63;
}

.bgc-primary-dark {
    background-color: #B0003A;
}

.secondary {
    color: #00B0FF;
}

.secondary-dark {
    color: #0081CB;
}

.secondary-light {
    color: #69E2FF;
}

/* General */
::selection {
    background: rgba(105, 226, 255, 0.6) !important;
}

::-moz-selection {
    background: rgba(105, 226, 255, 0.6) !important;
}

a {
    color: #E91E63 !important;
    text-decoration-color: #FF6090 !important;
    text-decoration-line: underline !important;
    text-decoration-style: dotted !important;
}

a:hover {
    color: #B0003A !important;
    text-decoration-color: #E91E63 !important;
    text-decoration-line: underline !important;
    text-decoration-style: solid !important;
}

nav a {
    color: #FFFFFF !important;
    text-decoration-color: #FAFAFA !important;
    text-decoration-line: none !important;
}

nav a:hover {
    color: #FAFAFA !important;
    text-decoration-color: #FFFFFF !important;
    text-decoration-line: underline !important;
    text-decoration-style: dotted !important;
}

/* Navbar */
.logo-small {
    width: 2.2rem;
}

.navbar-shadow {
    box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.20);
}

/* Header */
.parallax {
    height: 30rem;
    background-size: cover;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.no-lateral-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.season-text {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    vertical-align: middle;
    color: #FAFAFA;
    background-color: rgba(33, 33, 33, 0.6);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.season-text-div {
    padding-bottom: 10rem;
}

.credit-text {
    display: table-header-group;
    text-align: right;
    padding: 0.1rem 1rem 1rem 1rem;
}

/* Cards */
.rise-cards {
    margin-top: -10rem;
}

.icon-title {
    font-size: 2.2rem;
}

.gray-text {
    color: #303030;
}

.red-accent {
    color: #FF1744;
}

.amber-accent {
    color: #FFC400;
}

.green-accent {
    color: #00E676 !important;
    text-decoration-color: #00B248 !important;
}

.green-accent-a:hover {
    color: #00B248 !important;
    text-decoration-color: #00E676 !important;
}

.light-blue-accent {
    color: #00B0FF !important;
    text-decoration-color: #0081CB !important;
}

.light-blue-accent-a:hover {
    color: #0081CB !important;
    text-decoration-color: #00B0FF !important;
}

.orange-accent {
    color: #FF9100 !important;
}

.text-align-right {
    text-align: right;
}

.button-align-right {
    float: right;
}

.text-align-left {
    text-align: left;
}

.button-align-left {
    float: left;
}

.download-button {
    color: #FFFFFF !important;
    text-decoration-line: none !important;
    text-decoration-color: #FAFAFA !important;
    border-color: #FAFAFA !important;
    margin-top: 0.5rem;
}

.download-button:hover {
    color: #FFFFFF !important;
    text-decoration-line: none !important;
    text-decoration-color: #FAFAFA !important;
    background-color: #B0003A !important;
    border-color: #E91E63 !important;
}

.no-underline {
    text-decoration-line: none !important;
}

.no-underline:hover {
    text-decoration-line: none !important;
}

.bottom-margin {
    margin-bottom: 3rem;
}

@media only screen and (min-width: 900px) {
    .show-on-small-screen {
        display: none;
    }
}

@media only screen and (min-width: 550px) {
    .show-on-very-small-screen {
        display: none;
    }
}

@media only screen and (min-width: 300px) {
    .show-on-extremely-small-screen {
        display: none;
    }
}

.custom-list {
    list-style-type: none;
}

.small-medal-picture-green {
    height: 100px;
    border: 0.13rem solid #00E676;
}

.small-picture-green {
    height: 80px;
    border: 0.1rem solid #00E676;
}

.small-medal-picture-light-blue {
    height: 100px;
    border: 0.13rem solid #00B0FF;
}

.small-picture-light-blue {
    height: 80px;
    border: 0.1rem solid #00B0FF;
}

.rank-medal-text {
    font-size: 3.5rem;
}

.rank-text {
    font-size: 2.5rem;
}

.name-medal-text {
    font-size: 1.2rem;
}

.name-text {
    font-size: 1.1rem;
}

.genre-rank-text {
    font-size: 1.8rem;
}

.genre-text {
    font-size: 1.3rem;
}

/* Footer */
.footer-container {
    background-color: #B0003A;
    height: 15rem;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.40)
}

.footer-text {
    color: #FFFFFF;
    font-size: 0.8rem;
    text-align: center;
    vertical-align: bottom;
    padding-top: 2rem;
}
